*{
    margin: 0;
    padding: 0;
}
nav{

    color: white;
    background-color: black;
    margin: 20px;
    padding: 20px;
}
li{
    display: inline;
    font-style: italic;
}
h1{
    display: inline;
    padding: 30px;
   
}
ul{
    display: inline;
    margin-left: 60%;
}
li{
    color: gray;
    cursor: pointer;u
    
}
li:hover
{
    color: aqua;
}
input{
    width: 60%;
    padding: 15px;
    
}
.searchbar{
    margin : 50px;
    text-align: center;
    
}
.box{
    border: color(black red green blue);
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    width: 500px;


}
.products{
    text-align: center;
}
.box :hover{
    background-color: black;
    color: aqua;
}
.about{
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}
.contact{
    background-color: black;
    color: white;
    padding: 40px;
}